<!DOCTYPE html>
<html lang='en'>
<%- include('partials/miniHeader', { title: 'SBQC Server Dashboard' }) %> 
<body class="light-grey">
<%- include('partials/miniNav') %> 

<div class="main" style="margin-left:300px;margin-top:43px;">

   
    <header class="container" style="padding-top:22px">
        <h5><b><i class="fa fa-dashboard"></i> My Dashboard</b></h5>
    </header>

    <div class="row-padding margin-bottom">
        <div class="col col-3">
            <div class="container green text-black padding-16 card-4">
                <div class="left"><i class="fa fa-comment xxxlarge"></i></div>
                <div class="right">
                <h3 id="msgCard"><%- collectionInfo.mews %>  </h3>
                </div>
                <div class="clear"></div>
                <h4>Messages</h4>
            </div>
        </div>
        <div class="col col-3">
            <div class="container indigo text-black padding-16 card-4">
                <div class="left"><i class="fa fa-eye xxxlarge"></i></div>
                <div class="right">
                <h3 id="viewsCard"><%- collectionInfo.userLogs %></h3>
                </div>
                <div class="clear"></div>
                <h4>Views</h4>
            </div>
        </div>
        <div class="col col-3">
            <div class="container khaki padding-16 card-4">
                <div class="left"><i class="fa fa-share-alt xxxlarge"></i></div>
                <div class="right">
                <h3 id="devicesCard"><%- collectionInfo.server %></h3>
                </div>
                <div class="clear"></div>
                <h4>Devices</h4>
            </div>
        </div>
        <div class="col col-3">
            <div class="container grey padding-16 card-4">
                <div class="left"><i class="fa fa-users xxxlarge"></i></div>
                <div class="right">
                <h3 id="usersCard"><%- collectionInfo.users %></h3>
                </div>
                <div class="clear"></div>
                <h4>Users</h4>
            </div>
        </div>
    </div>

    <div class="panel">
        <div class="row-padding">
        
            <div class="col col-12 col-l6 black card-2" >
                <h5>World</h5>
                <img src="/img/region.jpg" style="width:100%" alt="Google Regional Map">
            </div>
    
        
            <div class="col col-12 col-l6 ">
                <h5>Feeds</h5>

                <table class="table striped white">
                    <tr>
                        <td><i class="fa fa-user text-blue large"></i></td>
                        <td>New record, over 90 views.</td>
                        <td><i>10 mins</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-bell text-red large"></i></td>
                        <td>Database error.</td>
                        <td><i>15 mins</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-users text-yellow large"></i></td>
                        <td>New record, over 40 users.</td>
                        <td><i>17 mins</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-comment text-red large"></i></td>
                        <td>New comments.</td>
                        <td><i>25 mins</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-bookmark text-blue large"></i></td>
                        <td>Check transactions.</td>
                        <td><i>28 mins</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-laptop text-red large"></i></td>
                        <td>CPU overload.</td>
                        <td><i>35 mins</i></td>
                    </tr>
                    <tr>
                        <td><i class="fa fa-share-alt text-green large"></i></td>
                        <td>New shares.</td>
                        <td><i>39 mins</i></td>
                    </tr>
                </table>
        </div>
        </div>
    </div>
    <hr>
    <div class="container">
        <h5>General Stats</h5>
        <p>New Visitors</p>
        <div class="grey">
        <div class="container center padding green" style="width:25%">+25%</div>
        </div>

        <p>New Users</p>
        <div class="grey">
        <div class="container center padding orange" style="width:50%">50%</div>
        </div>

        <p>Bounce Rate</p>
        <div class="grey">
        <div class="container center padding red" style="width:75%">75%</div>
        </div>
    </div>
    <hr>

    <div class="container">
        <h5>TimeZone</h5>
        <div id="ip_id"></div>
        <br>
    </div>
    <div class="container">
        <h5>Countries</h5>
        <table class="table striped bordered border hoverable white">
        <tr>
            <td>United States</td>
            <td>65%</td>
        </tr>
        <tr>
            <td>UK</td>
            <td>15.7%</td>
        </tr>
        </table><br>
        <button class="btn dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button>
    </div>

    <hr>
    <div class="container">
        <h5>Recent Users</h5>
        <ul class="ul card-4 white">
        <li class="padding-16">
            <img src="/img/avatar2.png" class="left circle margin-right" style="width:35px">
            <span class="xlarge">Mike</span><br>
        </li>
        <li class="padding-16">
            <img src="/img/avatar5.png" class="left circle margin-right" style="width:35px">
            <span class="xlarge">Jill</span><br>
        </li>
        <li class="padding-16">
            <img src="/img/avatar6.png" class="left circle margin-right" style="width:35px">
            <span class="xlarge">Jane</span><br>
        </li>
        </ul>
    </div>
    <hr>

    <div class="container">
        <h5>Recent Comments</h5>
        <div class="row">
        <div class="col m2 text-center">
            <img class="circle" src="/img/avatar3.png" style="width:96px;height:96px">
        </div>
        <div class="col m10 container">
            <h4>John <span class="opacity medium">Sep 29, 2014, 9:12 PM</span></h4>
            <p>Keep up the GREAT work! I am cheering for you!!</p><br>
        </div>
        </div>

        <div class="row">
        <div class="col m2 text-center">
            <img class="circle" src="/img/avatar1.png" style="width:96px;height:96px">
        </div>
        <div class="col m10 container">
            <h4>Bo <span class="opacity medium">Sep 28, 2014, 10:15 PM</span></h4>
            <p>Sed do eiusmod tempo.</p><br>
        </div>
        </div>
    </div>
    <br>
    <div class="container dark-grey padding-32">
        <div class="row">
        <div class="container third">
            <h5 class="bottombar border-green">Demographic</h5>
            <p>Language</p>
            <p>Country</p>
            <p>City</p>
        </div>
        <div class="container third">
            <h5 class="bottombar border-red">System</h5>
            <p>Browser</p>
            <p>OS</p>
            <p>More</p>
        </div>
        <div class="container third">
            <h5 class="bottombar border-orange">Target</h5>
            <p>Users</p>
            <p>Active</p>
            <p>Geo</p>
            <p>Interests</p>
        </div>
        </div>
    </div>
<%- include('partials/miniFooter') %>
</div>
<script src="/js/tools.js"></script>
<script src="/js/dashboard.js"></script>


</body>
</html>
