<!DOCTYPE html>
<html lang='en'>
<head>
  <%- include('partials/mainHead', { title: 'SBQC Server Dashboard' }) %>
</head>
<body class="bg-light">
<%- include('partials/miniNav') %> 

<div class="main">
   
    <header class="w3-container padding-top-22">
        <h5 class="fw-bold"><i class="fa fa-dashboard"></i> My Dashboard</h5>
    </header>

    <div class="row gx-3 mb-3">
        <div class="col-3">
            <div class="w3-container bg-custom-green text-black padding-16 w3-card-4">
                <div class="float-start"><i class="fa fa-comment fa-xxxlarge"></i></div>
                <div class="float-end">
                <h3 id="msgCard"><%- collectionInfo.mews %>  </h3>
                </div>
                <div class="clearfix"></div>
                <h4>Messages</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="w3-container bg-custom-indigo text-black padding-16 w3-card-4">
                <div class="float-start"><i class="fa fa-eye fa-xxxlarge"></i></div>
                <div class="float-end">
                <h3 id="viewsCard"><%- collectionInfo.userLogs %></h3>
                </div>
                <div class="clearfix"></div>
                <h4>Views</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="w3-container bg-custom-khaki text-black padding-16 w3-card-4">
                <div class="float-start"><i class="fa fa-share-alt fa-xxxlarge"></i></div>
                <div class="float-end">
                <h3 id="devicesCard"><%- collectionInfo.server %></h3>
                </div>
                <div class="clearfix"></div>
                <h4>Devices</h4>
            </div>
        </div>
        <div class="col-3">
            <div class="w3-container bg-custom-grey text-black padding-16 w3-card-4">
                <div class="float-start"><i class="fa fa-users fa-xxxlarge"></i></div>
                <div class="float-end">
                <h3 id="usersCard"><%- collectionInfo.users %></h3>
                </div>
                <div class="clearfix"></div>
                <h4>Users</h4>
            </div>
        </div>
    </div>

    <div class="w3-panel">
        <div class="row gx-3">
        
            <div class="col-12 col-lg-6 bg-dark text-white w3-card-2" >
                <h5 class="fw-bold">World</h5>
                <!--<img src="/img/region.jpg" style="width:100%" alt="Google Regional Map">-->
                <canvas id="worldMap" width="800" height="600"></canvas>
            
            </div>
    
        
            <div class="col-12 col-lg-6 ">
                <h5 class="fw-bold">Feeds - hitcount:  <%- hitCount %></h5>
                <table class="table table-striped bg-white">
                    <thead>
                        <tr>
                            <th scope="col" style="width: 50px;">Icon</th>
                            <th scope="col">Description</th>
                            <th scope="col" style="width: 100px;">Time</th>
                        </tr>
                    </thead>
                    <tbody id="feeds-table-body">
                        <%# Feed items will be populated here by JavaScript %>
                    </tbody>
                </table>
        </div>
        </div>
    </div>
    <hr>
   
    <hr>

    <div class="w3-container">
        <h5 class="fw-bold">TimeZone</h5>
        <div id="ip_id"></div>
        <br>
        <div>
            <label for="sourceSelect">Select Source:</label>
            <select id="sourceSelect">
                <% for (const collection in collectionInfo) { %>
                    <option value="<%= collection %>" <%= collection === 'userLogs' ? 'selected' : '' %>><%= collection.charAt(0).toUpperCase() + collection.slice(1) %> </option>
                <% } %>
            </select>
        </div>
        <div>
            <hr />
            <h3>Server logs</h3>
            <table id="logsTable" class="display"> </table>
        </div>
        <div class='loading'>
            <img src='img/loading.gif' alt=''>
        </div>
    </div>
  
<%- include('partials/miniFooter') %>
</div>


<script src="/js/tools.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>
