<!DOCTYPE html>
<html lang='en'>

<head>
  <%- include('partials/mainHead', { title: 'SBQC Home' }) %>
  <link rel='stylesheet' href='css/mews.css'>
  <link rel='stylesheet' href='css/rockPaperScissor.css'>
</head>

<body data-request-log='<%- JSON.stringify(requestLog) %>' data-is-welcome-page="<%= isWelcomePage %>">
<%- include('partials/nav') %>


    <div class="background-container d-flex justify-content-center align-items-center" style="height: 100vh">
        <div class="text-center">

            <div class='col sm-8 topZ' id="welcomeSquare">
                <img class="mb-4" src="img/favicon.ico" style="width: 250px; "  />

                <div class="welcome-section">
                    <br>
                    <h3> Welcome to Special Blend Production</h3>
                    <br>
                    <h3> A mix of visuals, data gathering and games mini-projects using node.js with express, mosquitto mqtt, p5.js and WebGL. </h3>
                    <br>
                    <br>
                    <br>
                    <button type="button" class="btn btn-outline-success" data-mdb-ripple-init data-mdb-ripple-color="dark" onclick="engageInteractiveExperience()">Engage interactive eXperience</button>


                </div>
            </div>

        </div>
    </div>




<div id='page-top' class=' content-wrapper bg-transparent'>
<div class='container-fluid text-center '>
<!-- Begin Container  -->
<div id='speech'></div>



    <div class="row px-5" id="projectsDiv">

        <div class="col-sm-6 mt-4 ">
            <div class='card bg-transparent h-100 my-5'>
                <div class='card-header '> <h1>ISS Detector</h1> </div>
                <a href="/iss-detector" class="navbar-left"> <img src='img/earth3d.png' class="card-img-top p-4" alt='' > </a>
                <h5 class="card-title pt-2 px-2">3D visualization of the International Space Station in real-time orbit</h5>
            </div>
        </div>

        <div class="col-sm-6 mt-4 ">
            <div class='card  bg-transparent h-100 my-5'>
                <div class='card-header '> <h1>Nature of Code</h1> </div>
                <a href="/Projects/Nature of Code/sAll" class="navbar-left"> <img src='img/flocking.png' class="card-img-top p-4" alt='' > </a>
                <h5 class="card-title pt-2 px-2">Flocking Simulation via forces and behavior</h5>
            </div>
        </div>

        <div class="col-sm-6 mt-4 ">
            <div class='card bg-transparent h-100 my-5'>
                <div class='card-header '> <h1>Shared Canvas</h1> </div>
                <a href="/Projects/DrawTogether" class="navbar-left"> <img src='img/canvas.png' class="card-img-top p-4" alt='' > </a>
                <h5 class="card-title pt-2 px-2">p5.js drawing canvas shared via MQTT</h5>
            </div>
        </div>

        <div class="col-sm-6 mt-4 ">
            <div class='card bg-transparent h-100 my-5'>
                <div class='card-header '> <h1>Nature of Code</h1> </div>
                <a href="/Projects/Nature of Code/s5" class="navbar-left"> <img src='img/NoC.Evolve.png' class="card-img-top p-4" alt='' > </a>
                <h5 class="card-title pt-2 px-2">DNA concept & leaf color evolution</h5>
            </div>
        </div>

        <div class="col-sm-6 mt-4 ">
            <div class='card bg-transparent h-100 my-5'>
                <div class='card-header '> <h1>P5 Randoms</h1> </div>

                <div id='canvasDiv'></div>
                <h5 class="card-title pt-2 px-2">Random walkers with particle effects using p5.js</h5>
            </div>
        </div>

        <!-- Game                    TODO: a mettre dans un .ejs a part    -->
        <div class="col-sm-6 mt-4 ">
            <div class='card bg-transparent h-100 my-5'>
                <div class='card-header '> <h1>Rock Paper Scissors</h1> </div>

                <div class='score-board'>
                    <div id='user-label' class='badge'>user</div>
                    <div id='computer-label' class='badge'>comp</div>
                    <span id='user-score'>0</span>:<span id='computer-score'>0</span>
                </div>

                <div class='result'> <p></p> </div>

                <div class='choices'>
                    <div class='choice' id='r'> <img src='img/rock.png' alt=''> </div>
                    <div class='choice' id='p'> <img src='img/paper.png' alt=''> </div>
                    <div class='choice' id='s'> <img src='img/scissors.png' alt=''> </div>
                </div>

                <p id='action-message'>Why not play with me? </p>
            </div>
        </div>




    </div>



 <!--     Visitor Book   -->
    <div class='row mt-5'>
        <div class='col sm-11'></div>
        <div class='col sm-1 text-right'>
            <div class='h6 text-muted small'>  HitCount: <%- hitCount %>  </div>
        </div>
    </div>

    <div>
        <hr />
        <h3>Leave your mark!</h3>
        <form class='mew-form  mb-3 '>
            <div class='error-message '></div>
            <label for='name'>Name</label>
            <input class='form-control' type='text' id='name' name='name'>
            <label for='content'>Post</label>
            <textarea class='form-control' type='text' id='content' name='content'></textarea>
            <button class='form-control bg-warning my-1' id='poster'>Say Hi!</button>
        </form>
        <div class='mews'></div>
        <div class='button-container'>
        <!-- <button id='loadMoreButton' class='button-primary' style='visibility: hidden'>Load More Mews</button> -->
            <p id='loadMore'>Loading...</p>
        </div>
        <div class='loading'>
            <img src='img/loading.gif' alt=''>
        </div>
    </div>




    <div class="card text-left">
        <p id='ip_id'></p>
       <!--  <img src="" id='rainbow' width ="480" />    -->
</div>




<%- include('partials/footer') %>


 <!-- End Container  -->
</div>
</div>




<%- include('partials/p5') %>
<script type='text/javascript' src='js/p5.speech.js'></script>
<script type='text/javascript' src='js/nestor.js'></script>
<script type='text/javascript' src='js/walker.js'></script>
<script type='text/javascript' src='js/particle.js'></script>
<script type='text/javascript' src='js/rockPaperScissor.js'></script>
<script type='text/javascript' src='js/home-sketch.js'></script>
<script type='text/javascript' src='js/mews.js'></script>
<script type='text/javascript' src='js/home-main.js'></script>

</body>
</html>