<!DOCTYPE html>
<html lang="en">

<head> <%- include('partials/head') %> </head>

<body class="fixed-nav sticky-footer bg-light sidenav-toggled" id="page-top">
  
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top" id="mainNav">    <%- include('partials/nav') %>  </nav>

<div class="content-wrapper">
<div class="container-fluid bg-3 text-center">  
<!-- Begin Container  -->  
  <div class="card mb-3">
    <div class="card-body" >
        <div class="form-inline my-4">
            City: <input class="form-control mx-2" id ="city" value = "Toronto"></input>
            <button class="form-control mx-2" id="submit">submit</button>
        </div>
        <div class="form-inline my-4">
            <p class="form-text mx-4" id="temp"> Temp :  0</p> 
            <p class="form-text mx-4" id="humid"> Humid:  0</p>  
            
        </div>
        <div class="form-inline my-4">
            <input class="form-control mx-4" type="checkbox" id="gridCheck" onclick="setGrid()">
            <label for="gridCheck"> Show Grid </label>   
        </div>
    </div>

   
   

</div>

  </div>



        <div class="card mb-3">

            <div class="card-body" >
                <div id='mapLabel'></div>
            </div>
            <div class="card-footer small text-muted">  </div>
        </div>
 
        <div class="card mb-3">

            <div class="card-body" >
                <%- include('partials/worldTemp') %>
            </div>
            <div class="card-footer small text-muted">  </div>
        </div>


<!-- End Container  -->
</div>
</div>

<%- include('partials/footer') %> 

<%- include('partials/p5') %> 

<script>
const weatherAPI =  <%- JSON.stringify(weatherAPI) %>;
const apiUrl =  <%- JSON.stringify(apiUrl) %>;

</script>


<script src="js/earth.js"></script>
</body>
</html>