<!DOCTYPE html>
<html lang="en">

<head> <%- include('partials/head') %> </head>

<body>
  
<%- include('partials/nav') %> 

<div id="page-top" class="container-fluid bg-3 text-center">  

    <div class="card mb-3">
        <div class="card-body text-start">
            <form class="row ">
                <div class="col">
                    <label for="city" class="form-label">City:</label>
                </div>
                <div class="col">
                    <input type="text" class="form-control" id="city" value="Toronto">
                </div>
                <div class="col">
                    <button
                        id="submit"
                        data-mdb-ripple-init
                        class="btn btn-outline-primary"
                        type="button"
                        data-mdb-ripple-color="dark"
                    >Submit</button>
                </div>
            </form>
            <div class="row my-4">
                <div class="col">
                    <p class="form-text" id="temp">Temp: 0</p>
                    <p class="form-text" id="humid">Humid: 0</p>
                </div>
            </div>
            <div class="form-check my-4">
                <input class="form-check-input" type="checkbox" id="gridCheck" onclick="setGrid()">
                <label class="form-check-label" for="gridCheck">Show Grid</label>
            </div>
        </div>
    </div>

    <div class="card mb-3">
        <div class="card-body" > <div id='mapLabel'></div>  </div>
    </div>
 
    <div class="card mb-3">
        <div class="card-body" > <%- include('partials/worldTemp') %> </div>
    </div>


<!-- End Container  -->
</div>

<%- include('partials/footer') %> 

<%- include('partials/p5') %>

<script>
const weatherAPI =  <%- JSON.stringify(weatherAPI) %>;

</script>


<script src="js/earth.js"></script>
</body>
</html>