<!DOCTYPE html>
<html lang="en">

<head> <%- include('partials/mainHead') %>

<style>



        /* unvisited link */
    a:link {
        color: rgba(88,79,63,255);
    }

    /* visited link */
    a:visited {
        color: rgba(88,79,63,255);
    }

    /* mouse over link */
    a:hover {
        color: rgba(142,140,98,255);
    }

    /* selected link */
    a:active {
        color: orange;
    }

 


</style>

</head>

<body class="bg-light ">
<%- include('partials/nav') %>

<div  id="page-top" class="content-wrapper navbar-spacing">
    <div class="container-fluid bg-3 text-center">   
    <!-- Begin Container  -->      
            
    <div class="row">
    
        <div class="col-sm-4">
            <div class="card mb-3">
  
                <div class="card-header" style="background-color: rgba(118, 190,70, 255);">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="float-left"> <i class="fas fa-palette"></i> </div>
                        </div>
                        <div class="col-md-6"> <h4> Color Finder </h4> </div>
                        <div class="col-md-3">
                            <div class="float-right"> <i class="fas fa-palette"></i> </div>
                        </div>
                    </div>
                </div>
                <div class="card-body"> <a href="/colorfinder"><i class="fas fa-eye-dropper fa-7x"></i></a> </div>
                <div class="card-footer small text-muted">Drag and drop any image file and get color HEX code of selected pixel. </div>
            </div>
        </div>
    
        <div class="col-sm-4">
            <div class="card mb-3">

                <div class="card-header" style="background-color: rgba(118, 190,70, 255);"">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="float-left"> <i class="fas fa-glasses"></i> </div>
                        </div>
                        <div class="col-md-6"> <h4> Tech notes </h4> </div>
                        <div class="col-md-3">
                            <div class="float-right"> <i class="fas fa-glasses"></i> </div>
                        </div>
                    </div>
                </div>
                <div class="card-body"> <a href="/Tools/TechNotes"> <i class="far fa-sticky-note fa-7x"></i> </a> </div> 
                <div class="card-footer small text-muted"> Collections of notes and tools information took along these projects.  </div>
            </div>
        </div>
    
        <div class="col-sm-4">
            <div class="card mb-3">
                <div class="card-header" style="background-color: rgba(118, 190,70, 255);">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="float-left"><i class="fas fa-tachometer-alt"></i> </div>
                        </div>
                        <div class="col-md-6"> <h4> Server Spec </h4> </div>
                        <div class="col-md-3">
                            <div class="float-right"> <i class="fas fa-tachometer-alt"></i> </div>
                        </div>
                    </div>
                </div>
                <div class="card-body"> <a href="/Tools/System_Info"> <i class="far fa-clipboard fa-7x"></i> </a> </div>
                <div class="card-footer small text-muted"> Server specifications recorded at last boot.<br> </div>
            </div>
        </div>
    
    </div>

    <div class='row'>
        <div class="col-sm-12">
            <div class="card mb-3">  
                <div class="card-header" style="background-color: rgba(118, 190,70, 255);"> Background color selector</div>
                <div class="card-body">
                    <%- include('partials/rgbSlider', {cssParam: "background-color", domId: "page-top"  }) %> 
                </div>
            </div>
        </div>
    </div>
           
    
    <!--    Sys Info   -->
    <div class='row'>
        <div class='col sm-4 my-5 py-5'>
            <div class='card m-5 bg-transparent px-4 py-2 text-left ml-2'>
                <h5>Hostname: <%= sysInfo.data.hostname %></h5>
                    <p>
                    <small>
                    OS: <%= sysInfo.data.ver %> <%= sysInfo.data.arch %>  <%= sysInfo.data.platform %> platform version <%= sysInfo.data.release %> </br>
                    Free Memory:  <%= (sysInfo.data.freemem / 1000000000).toFixed(2) %>  /  <%= (sysInfo.data.totalmem / 1000000000).toFixed(2) %> Gb</br>
                    CPUs: <%= sysInfo.cpus.length %> <%= sysInfo.cpus[0].model %> at <%= sysInfo.cpus[0].speed %> speed
                    </small>
                    </p>
            </div>
        </div>   
    </div>  

    
    <!-- End Container  -->
    </div>
    </div>
    
    <%- include('partials/footer') %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.4.0/p5.min.js"></script>


   


</body>
</html>