<div class="col col-<%= smWidth %>">
    <div class="container text-black padding-16 card-4 center">
     
           <h5 class="card-text card-title "><small><%= name %></small></h5> 
           <h4><span id='<%= domID %>_value_id'  ><%= defaultValue %> </span><%= units %></h4>
    
     </div>
</div>
